body {
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 300px;
}

form {
    text-align: left;
    width: 300px;
}

.error {
    background-color: #ffdddd;
}

label {
    display: block;
    margin-bottom: 5px;
}

.headline{
    font-size: 16px;
    margin-left: 18px;
}

.button{
    width: 208px;
}

input {
    margin-bottom: 5px;
    width: 200px;
}